In [51]:
import pandas as pd
alunosDIC = {'Nome': ['Fabio', 'Ana', 'Karim'],
            'Nota':[2.5,3,4],
            'Aprovado': ['Sim', 'Não', 'Talvez']}

In [52]:
alunosDF = pd.DataFrame(alunosDIC)

In [54]:
print(alunosDF)

    Nome  Nota Aprovado
0  Fabio   2.5      Sim
1    Ana   3.0      Não
2  Karim   4.0   Talvez

In [55]:
alunosDF['Aprovado'] #filtrando uma coluna do dataframe

0       Sim
1       Não
2    Talvez
Name: Aprovado, dtype: object

In [57]:
alunosDF.loc[1:2] #filtrando range de linhas do dataframe

    Nome  Nota Aprovado
1    Ana   3.0      Não
2  Karim   4.0   Talvez

In [58]:
alunosDF.loc[ alunosDF['Nome'] == 'Fabio' ] #filtrando linha condicional do dataframe

    Nome  Nota Aprovado
0  Fabio   2.5      Sim