In [15]:
import pandas as pd
alunosDIC = {'Nome': ['Fabio', 'Ana', 'Karim'],
            'Nota':[2, 3, 4],
            'Aprovado': ['Sim', 'Não', 'Talvez']}

In [16]:
alunosDF = pd.DataFrame(alunosDIC)

In [17]:
print(dataframe)

    Nome  Nota Situação
0  Fabio   1.0      Sim
1    Ana   2.0      Sim
2    Rob   3.0      Não
3  Karim   4.5      Sim

In [18]:
alunosDF.head() #primeiros registros formalizados

    Nome  Nota Aprovado
0  Fabio     2      Sim
1    Ana     3      Não
2  Karim     4   Talvez

In [19]:
alunosDF.shape #formato do dataframe

(3, 3)

In [22]:
alunosDF.describe() #descreve análises em cima de valores numéricos

       Nota
count   3.0
mean    3.0
std     1.0
min     2.0
25%     2.5
50%     3.0
75%     3.5
max     4.0